img { opacity: 0 }
._added { outline: ridge #0ff4 2px; }

html, body {
  scrollbar-gutter: stable;
}

/* Stretch Sidebar */
.crx_sidebar { align-self: stretch; /* background: #f0f */ }

/* Tags to the right */
.crx_tags li { display: list-item }
.crx_tags li > span { display: flex; flex-direction: row-reverse; justify-content: flex-end; white-space: nowrap; gap: 4px; }
.crx_tags li > span > span { letter-spacing: 0; margin: 0 }
.crx_tags li > span > span:nth-last-child(1) > a { color: #da6; }
.crx_tags li > span > span:nth-last-child(1) > a:visited { color: #976; }
.crx_tags li > span > span:nth-last-child(1) > a:hover { color: #fff }
.crx_tags li > span > span:nth-child(1) > a:before { font-weight: bold }

/* Top Pixiv premium banner on illust pages */
div:has(button):has(iframe) + div:has(div > iframe):has( + * main) { border: solid 1px #fff; display: none !important; }

/* Top Pixiv premium banner on main page */
#__premium_banner { display: none }

/* Top Pixiv premium banner on user pages */
div:not(:has(form)):has(div > iframe):has( + .__top_side_menu_body) { display: none }

/* Top Pixiv premium banner on novel pages */
div:has( > div[style*="height: 60px"]:empty) { display: none }

/* Show all and Like moved on sidebar */
.crx_like_fav_bar > div { background: rgba(0, 0, 0, 0.92); }
.crx_like_fav_bar button > div:first-child { background: rgba(0, 0, 0, 0.92); }
.crx_like_fav_bar > div[style] { transform: none !important; }

body::before { position: fixed; right: 0; top: 0; z-index: 9999; -webkit-text-stroke: 3px #00000088; paint-order: stroke fill; text-shadow: 0 0 2px #000; letter-spacing: 0.5px; color: #fff; font-size: 10px; padding: 2px }
body:not(._body) { content: '?' }
._body._art._slideshow::before { content: 'art.slideshow' }
._body._art._cover::before { content: 'art.cover' }
._body._artfav._detail::before { content: 'artfav.detail' }
._body._artfav._edit::before { content: 'artfav.edit' }
._body._my._hist::before { content: 'my.hist' }
._body._my._dash::before { content: 'my.dash' }
._body._myfol._cols::before { content: 'myfol.cols' }
._body._myfol._works::before { content: 'myfol.works' }
._body._mypix._works::before { content: 'mypix.works' }
._body._mywatch._mangas::before { content: 'mywatch.mangas' }
._body._mywatch._novels::before { content: 'mywatch.novels' }
._body._recent._works::before { content: 'recent.works' }
._body._user._favs._cols::before { content: 'user.favs.cols' }
._body._user._favs._novels::before { content: 'user.favs.novels' }
._body._user._favs::before { content: 'user.favs' }
._body._user._fols::before { content: 'user.fols' }
._body._user._illusts::before { content: 'user.illusts' }
._body._user._mangas::before { content: 'user.mangas' }
._body._user._reqs::before { content: 'user.reqs' }
._body._user._series::before { content: 'user.series' }
._body._user._works::before { content: 'user.works' }
._body._user._home::before { content: 'user.home' }
._body._search._illusts::before { content: 'search.illusts' }
._body._search._mangas::before { content: 'search.mangas' }
._body._search._works::before { content: 'search.works' }
._body._search._tags::before { content: 'search.tags' }
._body._search._words::before { content: 'search.words' }
._body._top._discovery::before { content: 'top.discovery' }
._body._top._novels::before { content: 'top.novels' }
._body._top._recom._illusts::before { content: 'top.recom.illusts' }
._body._top._recom._illusts::before { content: 'top.recom.illusts' }
._body._top._recom._mangas::before { content: 'top.recom.mangas' }
._body._top._recom._mangas::before { content: 'top.recom.mangas' }
._body._top._home::before { content: 'top.home' }

body {
    overflow-x: clip;
}

.crx_page_tags  {
    position: absolute;
    left: 0;
    margin-top: -64px;
    width: calc(100% / 7) !important;
}
/* Bookmarks Gallery */
section div:has( > ul ) {
    /*outline-color: #f00; outline-style: solid; outline-width: 4px;*/
    position: absolute;
    margin-top: -1px;
    right: 0;
    width: calc(100% / 7 * 6) !important;
    > ul {
        width: 100% !important;
        margin: 0 !important;
        gap: 0;
        > li {
            width: calc(100% / 6) !important;
            margin: 0 0 1px !important;
            > div {
                width: 100% !important;
                position: relative;
            }
        }
    }
}

/* Bookmarks Card */
section div > ul > li div[width]:not(:has(a)) {
    div:not(:has(button)) {
        width: 100%;
        height: 100%;
        place-content: center;
        > div {
            margin-top: -10px;
            padding: 12px 0;
        }
    }
}
section div > ul > li:has(div[width]):not(:has(a)) {
    box-sizing: border-box;
    padding: 1px;
    > div {
        background: #000;
        height: 100%;
    }
    div:has(> div[width]), div[width] { /* Image Wrapper */
        width: 100% !important;
        height: 100%;
    }
    div:has(div[width]) ~ div * {
        height: 0;
    }
}

section div > ul > li > div > div:has(> label) {
    /* 1st Div from Card */
    border-radius: 0 !important;
    margin: 1px;

    div[width] { /* Image Wrapper */
        width: 100% !important;
        height: calc(100% / 8 + 12px) !important;
        > a { /* thumbnail link */
            border: solid 1px #f00;
            border-color: #333 #000 #000 #333;
            box-sizing: border-box;
            &:hover {
                border-color: #555 #444 #444 #555;
                background: #333;
                box-shadow: 1px 1px 5px #0003 inset, 1px 1px 0 #0006 inset;
                text-shadow: 1px 1px 0 #000;                
            }
            + div:has( > div > button) {
                /* Favorite Button */
            }
            img { border-radius: 0 }
        }

        + div { /* Edit icon */
            top: 1px;
            right: 2px;
            left: auto;
            bottom: auto;
        }
    }

    /* 2nd Div from Card - Illust name */
    + div {
        display: none !important;
    }

    /* 3rd Div from Card - Artist */
    + div + div {
        margin-top: -30px !important;
        left: 2px;
        padding: 0px;
        z-index: 10;
        position: relative;
        max-width: calc(100% - 32px);
        > div {
            z-index: 0;
            padding: 2px 8px 2px 2px;
            background: #0008;
            border-radius: 0 20px 0 0;
            a { 
                color: #fff !important;
            }
        }
    }
}

nav.charcoal-pagination {
    margin-top: calc(100% / 7 * 8 - 44px);
}

.crx_work_tags { display: none }


.crx_page_tags ul {
    list-style: none; margin: 0; padding: 0;
    li:hover {
        border-color: #555 #444 #444 #555;
        background: #333;
        box-shadow: 1px 1px 5px #0003 inset, 1px 1px 0 #0006 inset;
        text-shadow: 1px 1px 0 #000;
    }
    li {
        border: solid 1px #fff;
        border-color: #333 #000 #000 #333;
        margin-bottom: 1px;
        cursor: pointer;
        display: grid;
        justify-content: start;
        height: 30px;
        width: 100%;
        box-sizing: border-box;
        font-size: 16px;
        &.one_tag { grid: 'b a'; }
        &.two_tag { grid: 'b a' 'b c'; }

        > span + span { /* Count */
            grid-area: b;
            width: 14px;
            text-align: center;
            letter-spacing: -0.2ch;
            color: #6af;
            line-height: 28px;
            padding: 0 8px 0 4px;
        }

        &.one_tag > span:first-child {
            font-size: 14px;
            line-height: 28px;
            letter-spacing: -0.04ch;
        }
        &.two_tag > span:first-child {
            font-size: 12px;
            line-height: 13px;
            letter-spacing: -0.06ch;
        }
        > span:first-child {
            display: block;
            grid-area: a;
            line-height: 18px;
            color: #fc6;
            letter-spacing: 0.05ch;
            width: 1fr;
            text-overflow: ellipsis;
            overflow: hidden;
            scrollbar-width: none;
            white-space: nowrap;
        }
        div {
            font-size: 13px;
            line-height: 14px;
            grid-area: c;
            color: #6afa;
            letter-spacing: 0.1ch;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin-top: -2px;
        }
    } 
}