/* Stretch Sidebar */
.crx_sidebar { align-self: stretch; /* background: #f0f */ }

/* Tags to the right */
.crx_tags li { display: list-item }
.crx_tags li > span { display: flex; flex-direction: row-reverse; justify-content: flex-end; white-space: nowrap; gap: 4px; }
.crx_tags li > span > span { letter-spacing: 0; margin: 0 }
.crx_tags li > span > span:nth-last-child(1) > a { color: #da6; }
.crx_tags li > span > span:nth-last-child(1) > a:visited { color: #976; }
.crx_tags li > span > span:nth-last-child(1) > a:hover { color: #fff }
.crx_tags li > span > span:nth-child(1) > a:before { font-weight: bold }

/* Top Pixiv premium banner on illust pages */
div:has(button):has(iframe) + div:has(div > iframe):has( + * main) { border: solid 1px #fff; display: none !important; }

/* Top Pixiv premium banner on main page */
#__premium_banner { display: none }

/* Top Pixiv premium banner on user pages */
div:not(:has(form)):has(div > iframe):has( + .__top_side_menu_body) { display: none }

/* Top Pixiv premium banner on novel pages */
div:has( > div[style*="height: 60px"]:empty) { display: none }

/* Show all and Like moved on sidebar */
.crx_like_fav_bar > div { background: rgba(0, 0, 0, 0.92); }
.crx_like_fav_bar button > div:first-child { background: rgba(0, 0, 0, 0.92); }
.crx_like_fav_bar > div[style] { transform: none !important; }

/* Work Thumbnail */
ul:has(.crx_work_thumbnail) {
    width: calc((33vmin + 4px) * 6) !important;
    margin-left: -200px;
}
.crx_work_thumbnail > div > div:nth-child(2) {
  a { color: #ff88; }
  a:visited { color: #dca8; }
}
.crx_work_thumbnail a { color: #ff8; }
.crx_work_thumbnail a:visited { color: #dca; }
.crx_work_thumbnail:hover a { color: #fff !important; }

.crx_work_thumbnail > div > div:nth-child(2) {
    z-index: 2;
    position: absolute;
    margin-top: -6.5ch;
    left: 4px;
    right: 4px;
    text-shadow: 0 0 1px, -1px 1px 0 #000, 0 1px 1px #000, 1px 1px 0 #000, 1px 1px 1px #000, 1px 1px 6px #0006, 1px 1px 5px #0006, 1px 1px 4px #0006, 1px 1px 3px #0006;
    font-weight: 400;
}
.crx_work_thumbnail > div > div:nth-child(3) {
    z-index: 2;
    position: absolute;
    margin-top: -3.75ch;
    left: 4px;
    right: 4px;
    text-shadow: 0 0 1px, -1px 1px 0 #000, 0 1px 1px #000, 1px 1px 0 #000, 1px 1px 1px #000, 1px 1px 6px #0006, 1px 1px 5px #0006, 1px 1px 4px #0006, 1px 1px 3px #0006;
}
.crx_work_thumbnail {
    width: 33vmin;
    position: relative;
    margin: 4px 4px 0 0;
    position: relative;
}
.crx_work_thumbnail > div  {
    width: 33vmin;
}
.crx_work_thumbnail div[width] {
    width: 33vmin;
    height: 33vmin;
    padding-right: 54px;
}
.crx_work_tags {
    position: absolute;
    right: 4px;
    top: 4px;
    list-style: none;
    padding: 0;
    line-height: 13px;
    font-size: 11px;
    text-align: right;
    color: #fff;
    text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 2px #000, 0 0 1px #000, 0 0 1px #fff, 0 0 1px #fff;
}
.crx_work_tags:hover {
    text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 2px #000, 0 0 1px #000, 0 0 3px #000, 0 0 4px #000;
}
a:hover .crx_work_tags {
	opacity: 0;
}
a:has(.crx_work_tags):hover img {
	opacity: 1 !important;
}
.crx_work_thumbnail a > div:nth-child(2) {
    left: auto;
    flex-flow: row-reverse;
    padding-right: 0;
    margin-right: -6px;
    margin-top: 135px;
}
.crx_work_thumbnail a > div:nth-child(2) > div:nth-child(1) > div > div {
    padding-left: 0;
}
.crx_work_thumbnail a > div:nth-child(2) > div:nth-child(1) > div > div::first-letter {
    color: transparent;
    letter-spacing: -7px;
}
.crx_work_thumbnail a > div:nth-child(2) > div:nth-child(1) > div > div::before {
    position: absolute;
    content: '\25cf';
    margin-left: -0.5px;
    color: rgb(255, 64, 96);
    font-weight: bold;
}
.crx_work_thumbnail a > div:nth-child(2) > div:nth-child(1):empty + div {
    width: 42px;
}
.crx_work_thumbnail a > div:nth-child(2) > div:nth-child(1):only-child {
    width: 42px;
    justify-content: center;
}

.crx_work_thumbnail div:has(> span span svg) {
    margin: 0 1px 0 0px;
    background: transparent;
    border-radius: 4px;
    padding: 0 4px;
    height: 16px;
}