html, body {
  scrollbar-gutter: stable;
}

/* Stretch Sidebar */
.crx_sidebar { align-self: stretch; /* background: #f0f */ }

/* Tags to the right */
.crx_tags li { display: list-item }
.crx_tags li > span { display: flex; flex-direction: row-reverse; justify-content: flex-end; white-space: nowrap; gap: 4px; }
.crx_tags li > span > span { letter-spacing: 0; margin: 0 }
.crx_tags li > span > span:nth-last-child(1) > a { color: #da6; }
.crx_tags li > span > span:nth-last-child(1) > a:visited { color: #976; }
.crx_tags li > span > span:nth-last-child(1) > a:hover { color: #fff }
.crx_tags li > span > span:nth-child(1) > a:before { font-weight: bold }

/* Top Pixiv premium banner on illust pages */
div:has(button):has(iframe) + div:has(div > iframe):has( + * main) { border: solid 1px #fff; display: none !important; }

/* Top Pixiv premium banner on main page */
#__premium_banner { display: none }

/* Top Pixiv premium banner on user pages */
div:not(:has(form)):has(div > iframe):has( + .__top_side_menu_body) { display: none }

/* Top Pixiv premium banner on novel pages */
div:has( > div[style*="height: 60px"]:empty) { display: none }

/* Show all and Like moved on sidebar */
.crx_like_fav_bar > div { background: rgba(0, 0, 0, 0.92); }
.crx_like_fav_bar button > div:first-child { background: rgba(0, 0, 0, 0.92); }
.crx_like_fav_bar > div[style] { transform: none !important; }

/* Work Thumbnail */
div:has(> .crx_bookmarks_grid) {
  position: relative;
  margin-left: calc(50% - 50vw);
  width: 100vw;
  box-sizing: border-box; /* Essencial para o padding não somar na largura */
}
.crx_bookmarks_grid {
    width: 100vw;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1px;
    margin: 0;
}
.crx_bookmarks_grid li { margin: 0; padding: 0; width: 100%; overflow: hidden }

.crx_work_thumbnail > div:nth-child(1),
.crx_work_thumbnail > div:nth-child(1) > div,
.crx_work_thumbnail > div:nth-child(1) > div > label,
.crx_work_thumbnail > div:nth-child(1) > div > label div[width]
{ width: 12.5vw !important; border-radius: 0 }

.crx_work_thumbnail > div:nth-child(1) > div > label div[radius] img
{ border-radius: 0; }

/* R-18, R-18G
.crx_work_thumbnail a > div:nth-child(2) > div:nth-child(1) > div > div {
    width: auto;
}
*/

.crx_work_tags { padding: 0; font-size: 9px; letter-spacing: -0.05ch }
.crx_work_tags .crx_en { color: #da6; }
.crx_work_tags .crx_ja { color:rgb(61, 118, 153) }

.è { outline: ridge #0ff4 4px; }

body::before { position: fixed; right: 0; top: 0; z-index: 9999; -webkit-text-stroke: 3px #00000088; paint-order: stroke fill; text-shadow: 0 0 2px #000; letter-spacing: 0.5px; color: #fff; font-size: 10px; padding: 2px }
body:not(.ò) { content: '?' }
.ò._art._slideshow::before { content: 'art.slideshow' }
.ò._art._cover::before { content: 'art.cover' }
.ò._artfav._detail::before { content: 'artfav.detail' }
.ò._artfav._edit::before { content: 'artfav.edit' }
.ò._my._hist::before { content: 'my.hist' }
.ò._my._dash::before { content: 'my.dash' }
.ò._myfol._cols::before { content: 'myfol.cols' }
.ò._myfol._works::before { content: 'myfol.works' }
.ò._mypix._works::before { content: 'mypix.works' }
.ò._mywatch._mangas::before { content: 'mywatch.mangas' }
.ò._mywatch._novels::before { content: 'mywatch.novels' }
.ò._recent._works::before { content: 'recent.works' }
.ò._user._favs._cols::before { content: 'user.favs.cols' }
.ò._user._favs._novels::before { content: 'user.favs.novels' }
.ò._user._favs::before { content: 'user.favs' }
.ò._user._fols::before { content: 'user.fols' }
.ò._user._illusts::before { content: 'user.illusts' }
.ò._user._mangas::before { content: 'user.mangas' }
.ò._user._reqs::before { content: 'user.reqs' }
.ò._user._series::before { content: 'user.series' }
.ò._user._works::before { content: 'user.works' }
.ò._user._home::before { content: 'user.home' }
.ò._search._illusts::before { content: 'search.illusts' }
.ò._search._mangas::before { content: 'search.mangas' }
.ò._search._works::before { content: 'search.works' }
.ò._search._tags::before { content: 'search.tags' }
.ò._search._words::before { content: 'search.words' }
.ò._top._discovery::before { content: 'top.discovery' }
.ò._top._novels::before { content: 'top.novels' }
.ò._top._recom._illusts::before { content: 'top.recom.illusts' }
.ò._top._recom._illusts::before { content: 'top.recom.illusts' }
.ò._top._recom._mangas::before { content: 'top.recom.mangas' }
.ò._top._recom._mangas::before { content: 'top.recom.mangas' }
.ò._top._home::before { content: 'top.home' }